name: Build Pull Request

on:
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Pull Request

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org
          node-version: 20

      - name: Build Package
        run: |
          npm clean-install
          npm run build
